@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.navfix {
	margin-top: -20px;
}
.order{ background: none !important; padding-top: 30px !important; padding-bottom: 30px !important; }
.btn{
	background: none !important;
	color: #fff !important;
	border-color: #fff !important;
	font-family: Lato, sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 13px;
	width: 85%;
	margin: 0 auto 0 auto;
}
.btn:hover{
	background: #fff !important;
	color: rgb(45,199,252) !important;
	border-color: #fff !important;
}
#package-config .btn{
	background: rgb(45,199,252) !important;
	width: auto !important;
	color: #fff !important;
	padding: auto !important;
}
.panel-blesta{
	background: rgba(45,199,252, 0.5) !important;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}
.panel-blesta:hover{
	background: rgb(45,199,252) !important;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
}
.package {
	margin: 10px 0 15px;
	background: none;
	text-align: center;
	opacity: 1;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	box-shadow: none !important;
	font-family: Lato, sans-serif;
}
.package-boxes, .package-name, .panel-heading{
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	font-family: Lato, sans-serif;
	border: none !important;
}
.package.selected {
	opacity: 1;
}
.package > .selected-btn, .package.selected > .unselected-btn {
	display: none;
}
.package > .unselected-btn, .package.selected > .selected-btn {
	display: block;
}

.package-name.panel-heading {
	padding: 0;
	background: none;
}

.package p {
	border-bottom: 1px dashed #fff;
	margin: 0;
	padding: 20px;
	width: 85%;
	color: #fff !important;
	margin: 0 auto 0 auto;
}

.package h4 {
	border-bottom: 1px solid #efefef;
	padding: 10px 0;
	margin-top: 0;
	margin-bottom: 0;
}

.package .price-box {
	background-color: #efefef;
	padding: 1px 0;
}

.package .price-box p {
	padding: 0;
	margin-bottom: -10px;
	margin-top: 5px;
	font-style: italic;
	font-size: 12px;
	color: #999;
}

.package .order {
	padding: 5px;
	background-color: #efefef;
}

.package-groups {
	margin-top: 20px;
}

.section-title h3 {
	color: #3A3A3A;
	font-weight: bold;
}

.section-title p.format {
	margin-top: -10px;
	font-style: italic;
}

.well-order {
	background-color: #fff;
	font-size: 12px;
}

.well-order .table {
	border: none;
}

.well-order .table > thead > tr > th {
	background: none;
	border: none;
	border-bottom: 2px solid #efefef;
}

.well-order .table > tbody > tr > td {
	border: none;
	padding: 8px 4px 4px 4px;
}

.well-order .total-due {
	text-align: right;
}

.well-order .total-due h4 {
	margin-top: 5px;
}

.well-form {
	padding-left: 15px;
	padding-right: 15px;
}

.currency {
	margin-top: 20px;
}


/* Whois styles */

.whois {
  margin-top: 15px;
  margin-bottom: 15px;
}

.whois div.checkbox label {
  padding-right: 5px;
}

.whois div.tlds, div.search {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.whois div.tlds {
  margin-bottom: 0;
}

.domains {
	font-size: 14px;
}

div.noindent {
	padding-left: 0;
	padding-right: 0;
}

#queue_nonempty_btns {
	display: none;
}

#empty_cart {
	margin-bottom: 20px;
}

/* List Styles */

.package-list {
	margin-top: 10px;
	background-color: #fff;
}

.package-list .package-item {
	margin-top: 0;
	padding: 5px 15px 15px 15px;
}

.package-list h3 {
	margin-top: 5px;
}

.package-list .instructions {
	margin-bottom: 2px;
	font-style: italic;
	color: #999;
}

.package-list .selected-btn, .package-list.selected .unselected-btn  {
	display: none;
}
.package-list .unselected-btn, .package-list.selected .selected-btn {
	display: block;
}